<footer class="footer">
    <div class="footer-body">
        <div class="right-panel">
            ©
            <script>document.write(new Date().getFullYear())</script> إشراق، يداً بيد لإعادة الإعمار.
        </div>
    </div>
</footer>
