<footer class="footer">
    <div class="footer-body">
        <ul class="left-panel list-inline mb-0 p-0">
            <li class="list-inline-item"><b>تطوير: م. باسل ابو سليم</b></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item">هاتف: 0592428779</li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item">basilsaleem11@gmail.com</li>
        </ul>
        <div class="right-panel">
            ©
            <script>document.write(new Date().getFullYear())</script> إشراق، يداً بيد لإعادة الإعمار.
        </div>
    </div>
</footer>