<!doctype html>
<html lang="en" dir="rtl">
<%- include('../partials/head.ejs') %>

    <body>
        <div class="container-fluid py-0">
            <div class="row align-items-center vh-100">
                <div class="col-md-6 mx-auto text-center">
                    <img src="/assets/images/error/500.png" class="img-fluid mb-4" alt="500" style="max-width: 400px;">
                    <h2 class="mb-0">خطأ داخلي في النظام</h2>
                    <p class="mt-2">حدث خطأ غير متوقع، يرجى المحاولة لاحقاً أو التواصل مع الدعم الفني.</p>
                    <% if (error) { %>
                        <div class="alert alert-danger text-start mt-4">
                            <pre><%= error.stack %></pre>
                        </div>
                        <% } %>
                            <a class="btn btn-primary d-inline-flex align-items-center" href="/">
                                العودة للرئيسية
                            </a>
                </div>
            </div>
        </div>
    </body>

</html>